@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-HeavyItalic.ttf') format('truetype');
       font-weight: 800;
       font-style: italic;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
       font-weight: 700;
       font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
       font-weight: 800;
       font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-BoldItalic.ttf') format('truetype');
       font-weight: 800;
       font-style: italic;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
       font-weight: 400;
       font-style: normal;
}

body {
  font-family: $font-family-sans-serif;
}
.btn.btn-sm-green {
  color: #fff;
  font-size: remy(14px);
  font-weight: 700;
  text-transform: uppercase;
  padding: 11px 19px 10px 20px;
  background-color: $green;
  margin-right: 11px;
  line-height: remy(13px);
}
.btn.btn-sm-violet {
  color: #fff;
  font-size: remy(14px);
  font-weight: 700;
  text-transform: uppercase;
  padding: 11px 19px 10px 20px;
  background-color: $violet;
  margin-right: 11px;
  line-height: remy(13px);
}
.btn.btn-sm-outline {
  color: #fff;
  font-size: remy(14px);
  font-weight: 700;
  text-transform: uppercase;
  padding: 7px 13px 6px 13px;
  background-color: #232438;
  line-height: remy(13px);
  border: 1px solid #3d3d57;
  border-radius: 2px;
  &:hover {
    background-color: #232438;
    color: #fff;
  }
}
a.user__support-link,
a.user__lang-link {
  background-color: #232438;
  color: #fff;
  &:hover {
    background-color: #232438;
    color: #fff;
    text-decoration: none;
  }
}

