@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-HeavyItalic.ttf') format('truetype');
       font-weight: 900;
       font-style: italic;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Medium.ttf') format('truetype');
       font-weight: 700;
       font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Bold.ttf') format('truetype');
       font-weight: 800;
       font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-BoldItalic.ttf') format('truetype');
       font-weight: 800;
       font-style: italic;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../fonts/AvenirNextCyr-Regular.ttf') format('truetype');
       font-weight: 400;
       font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr Demi';
  src: url('../fonts/AvenirNextCyr-Demi.ttf') format('truetype');
       font-weight: 400;
       font-style: normal;
}
@font-face {
  font-family: 'Pancetta Pro Black';
  src: url('../fonts/PancettaPro-Black.ttf') format('truetype');
       font-weight: 900;
       font-style: normal;
}

body {
  font-family: $font-family-sans-serif;
  height: 100%;
}
ul {
  padding-left: 0;
}
.left-wrap {
  box-flex: 0;
  flex: 0 0 300px;
  width: 300px;
  position: absolute;
  left: 0;
  overflow-y: auto;
}
.right-wrap {
  box-flex: 0;
  flex: 0 0 300px;
  width: 300px;
  position: absolute;
  right: 0;
  overflow-y: auto;
}
.center-wrap {
  box-flex: 1;
  flex: 1 1 auto;
  min-width: 380px;
  width: calc(100% - 620px);
  display: flex;
  box-orient: vertical;
  box-direction: normal;
  flex-direction: column;
  font-size: 100%;
  position: absolute;
  left: 310px;
  right: 310px;
}
.btn.btn-sm-green {
  color: #fff;
  font-size: remy(14px);
  font-weight: 700;
  text-transform: uppercase;
  padding: 11px 19px 10px 20px;
  background-color: $green;
  margin-right: 11px;
  line-height: remy(13px);
}
.btn.btn-sm-violet {
  color: #fff;
  font-size: remy(14px);
  font-weight: 700;
  text-transform: uppercase;
  padding: 11px 19px 10px 20px;
  background-color: $violet;
  margin-right: 11px;
  line-height: remy(13px);
}
.btn.btn-sm-outline {
  color: #fff;
  font-size: remy(14px);
  font-weight: 700;
  text-transform: uppercase;
  padding: 7px 13px 6px 13px;
  background-color: #232438;
  line-height: remy(13px);
  border: 1px solid #3d3d57;
  border-radius: 2px;
  &:hover {
    background-color: #232438;
    color: #fff;
  }
}
.btn.btn-lg-green {
  color: #fff;
  font-size: remy(14px);
  font-weight: 700;
  text-transform: uppercase;
  padding: 24px 76px 19px 76px;
  background-color: $green;
  line-height: remy(12px);
  letter-spacing: 1.54px;
  box-shadow: 0 3px 4px rgba(36, 35, 53, 0.09);
  margin-top: 6px;
}
a.user__support-link,
a.user__lang-link {
  background-color: #232438;
  color: #fff;
  &:hover {
    background-color: #232438;
    color: #fff;
    text-decoration: none;
  }
}

