@font-face {
  font-family: 'Avenir Next Cyr Heavy Italic';
  src: url('../fonts/AvenirNextCyr-HeavyItalic.woff') format('woff'),
}
@font-face {
  font-family: 'Avenir Next Cyr Medium';
  src: url('../fonts/AvenirNextCyr-Medium.woff') format('woff'),
}
@font-face {
  font-family: 'Avenir Next Cyr Bold';
  src: url('../fonts/AvenirNextCyr-Bold.woff') format('woff'),
}
@font-face {
  font-family: 'Avenir Next Cyr Bold Italic';
  src: url('../fonts/AvenirNextCyr-BoldItalic.woff') format('woff'),
}
