@function remy($value) {
  @return ($value / 16px) *1rem;
}

$font-family-sans-serif: 'Avenir Next Cyr';
$body-bg: #e5e9f2;
$dropdown-bg: #222133;
$dropdown-link-color: #eef3f9;
$dropdown-link-hover-bg: #646788;
$dropdown-link-hover-color: #eef3f9;
$dropdown-min-width: 100%;

$green: #3dc569;
$violet: #686b8e;

@import '_base.scss';
@import '_header.scss';
@import '_left.scss';
@import '_right.scss';
@import '_table.scss';
