.header-top {
  background-color: #232438;
  padding-top: 14px;
  padding-bottom: 13px;
}
.header-bottom {
  background-color: #eef3f9;
  box-shadow: 0 3px 4px rgba(36, 35, 53, 0.09);
  padding-top: 7px;
  padding-bottom: 9px;
}
.user__signup-link {
  background-image: linear-gradient(to top, #3dc569 0%, #3fd870 100%);
}
.header-icon {
  margin-right: 13px;
}
/*
.user__support {
  border-radius: 2px 0 0 2px;
}
*/

