.header-top {
  background-color: #232438;
  padding-top: 14px;
  padding-bottom: 13px;
}
.header-bottom {
  background-color: #eef3f9;
  box-shadow: 0 3px 4px rgba(36, 35, 53, 0.09);
  padding: 5px 0;
}
.user-mobile {
  display: flex;
  align-items: center;
  @media (max-width: 1000px) {
    justify-content: space-between;
  }
}
.user-icon {
  display: none;
  @media (max-width: 1000px) {
    display: flex;
  }
}
.user {
  display: flex;
  lign-items: center;
  justify-content: flex-end;
  @media (max-width: 1000px) {
    justify-content: center;
    margin-top: 13px;
  }
}
.user__support.btn {
  @media (max-width: 1000px) {
    display: none;
  }
}
.user__login-link {
  @media (max-width: 1000px) {
    width: 140px;
  }
}
.user__signup-link {
  background-image: linear-gradient(to top, #3dc569 0%, #3fd870 100%);
}
.header-icon {
  margin-right: 13px;
}
.user__lang.btn {
  padding-top: 12px!important;
  padding-bottom: 9px !important;
  display: flex;
  @media (max-width: 1000px) {
    display: none;
  }
}
.user__login,
.user__signup {
  @media (max-width: 1000px) {
    width: 145px;
  }
}
.header-menu {
  @media(max-width: 1000px) {
    order: 2;
  }
}
.header-search {
  @media(max-width: 1000px) {
    order: 1;
  }
}
.form-control.input-search {
  color: #cad0dc;
  font-size: remy(14px);
  font-weight: 700;
  line-height: remy(11px);
  @media (max-width: 1000px) {
    display: none;
  }
}
.btn.btn-search {
  padding: 7px 9px 8px 9px;
  background-color: #232438;
  width: 36px;
  height: 32px;
}
.header-list {
  list-style: none;
  width: 100%;
}
.header-link {
  color: #232438;
  font-size: remy(14px);
  font-weight: 700;
  text-transform: uppercase;
  line-height: remy(11px);
  letter-spacing: 0.7px;
  &:hover {
    color: $green;
    text-decoration: none;
  }
}
.header-link.active {
  color: $green;
}
.arrow-down {
  margin-left: 5px;
}
.hamburger-icon {
  display: block;
  position: absolute;
  height: 4px;
  background-color: $green;
  width: 35px;
  margin: auto;
}
.hamburger {
  display: none;
  &:before,
  &:after  {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    background-color: $green;
    width: 35px;
    margin: auto;
    top: 27px;
    transform-origin: 50% 50%;
  }
  &:after {
    top: calc(100% - 27px);
  }
  @media (max-width: 1000px) {
    display: block;
    left: 0;

  }
}
