.left-wrap {
  z-index: 10;
  display: flex;
  /*
    @media (max-width: 1000px) {
      display: none;
  }
  */
}
.left-wrap__mobile {
  display: none;
}
.left-wrap__mobile.mobile-open {
  display: flex;
  z-index: 10;
  transform: translate(0, -100px);
  overflow: auto;
  position: absolute;
  top: 18%;
}
.left {
  margin-top: 35px;
  width: 300px;
}
.left__top {
  color: #eef3f9;
  background-color: #3dc569;
  font-size: remy(19px);
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 2.09px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 22px;
  line-height: remy(15px);
  margin-bottom: 5px;
}
.left__filter {
  border-top: 1px solid #a8a9c2;
  border-bottom: 1px solid #a8a9c2;
  background-color: #e5e9f2;
}
.filter-list,
.allsports__list {
  list-style: none;
}
.filter-item {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    width: 1px;
    height: 7px;
    background-color: $green;
  }
}
.filter-link {
  color: #242237;
  font-size: remy(14px);
  font-weight: 700;
  letter-spacing: 0.14px;
  text-transform: uppercase;
  &.active {
    color: $green;
  }
}
.progress-bar {
  height: 2px;
  color: $green;
}
.allsports__list {
  margin-top: 6px;
  margin-bottom: 9px;
}
.allsports__item {
  background-color: #222133;
}
.category-block {
  color: #eef3f9;
  font-size: remy(14px);
  letter-spacing: 0.14px;
  border-top: 1px solid #191826;
  border-bottom: 1px solid #191826;
  &:hover {
    color: #eef3f9;
    background-color: #646788;
    text-decoration: none;
  }
}
.category-block.active {
  background-color: #646788;
}
.categiry-block__icon {
  margin: 13px 29px 14px 13px;
}
.category-block__arrow {
  margin-right: 26px;
}
.caregory-block__count {
  color: #878aa9;
  font-size: remy(13px);
  font-weight: 400;
  letter-spacing: 0.65px;
}
.caregory-block__title {
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
}
.dropdown-toggle {
  &:after {
    display: none !important;
  }
}

