.right {
  width: 300px;
  margin-top: 35px;
}
.right-coupon {
  height: 55px;
}
.right__coupon-item {
  background-color: #d5dce6;
  color: #252436;
  font-size: remy(14px);
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1.54px;
  line-height: remy(11px);
  width: 150px;
  height: 55px;
  padding-top: 23px;
  padding-bottom: 18px;
  &:hover {
    color: #252436;
    text-decoration: none;
  }
}
.right__coupon-item.active {
  background-color: #3dc569;
  box-shadow: 0 3px 4px rgba(36, 35, 53, 0.09);
}
.right__options-item {
  background-color: #252436;
  color: #646788;
  font-size: remy(13px);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.43px;
  line-height: remy(11px);
  width: 100px;
  height: 41px;
  padding-top: 15px;
  padding-bottom: 15px;
  &:hover {
    color: #646788;
    text-decoration: none;
  }
}
.right__options-item.active {
  color: #eef3f9;
}
