.body {
  margin-top: 35px;
}
.table-cell {
  color: #252436;
  font-size: remy(17px);
  font-weight: 500;
  line-height: remy(17px);
}
.table-name.table-cell {
  color: #252436;
  font-size: remy(17px);
  font-weight: 500;
}
