.body {
  margin-top: 35px;
}
.table-cell {
  color: #252436;
  font-size: remy(17px);
  font-weight: 500;
  line-height: remy(13px);
  width: 33px;
  @media(max-width: 1700px) {
    font-size: remy(13px);
    line-height: remy(11px);
  }
  @media(max-width: 1380px) {
    font-size: remy(11px);
    line-height: remy(9px);
  }
  @media(max-width: 1260px) {
    font-size: remy(10px);
    line-height: remy(8px);
  }
}
.body-header__content {
  font-family: 'Avenir Next Cyr Demi' !important;
  color: #252436;
  font-size: remy(13px);
  line-height: remy(11px);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.91px;
  margin-left: 14px;
  height: 49px;
}
.body-header__title {
  font-family: 'Pancetta Pro Black' !important;
  font-size: remy(24px);
  line-height: remy(17px);
  font-weight: 900;
  letter-spacing: 3.6px;
}
.table-time {
  margin-right: 8px;
}
.table-name.table-cell {
  color: #252436;
  font-size: remy(17px);
  font-weight: 500;
  width: 100px;
  white-space: nowrap;
  @media(max-width: 1700px) {
    font-size: remy(14px);
    line-height: remy(11px);
  }
  @media(max-width: 1380px) {
    width: 90px;
    font-size: remy(11px);
    line-height: remy(9px);
  }
  @media(max-width: 1260px) {
    white-space: normal;
    width: 51px;
    font-size: remy(10px);
    line-height: remy(8px);
  }
}
th.table-cell {
  font-size: remy(15px);
  font-weight: 800;
  line-height: remy(12px);
  max-width: 33px;
}

